{% extends "calculate/base.html" %}

{% block title %}
Add Assignment
{% endblock %}

{% block content %}

    <h1>Add Assignment</h1>
    <form action="{% url 'calculate:add_assignment' pk %}" method="POST">
        {% csrf_token %}
        <!-- Assignment name: <input type="text" name="assignment_name" id="assignment_name" value="" /><br/>
        Mark: <input type="number" name="mark" id="mark" value="" />
        / <input type="number" name="total" id="total" value="" /><br/>
        Weight: <input type="number" name="percentage" id="percentage" value="" /><br/> -->
        {{form.as_p}}
        <input type="submit" name="submit" value="Add Assignment" class="btn btn-primary" />
    </form>

{% endblock %}