{% extends "calculate/base.html" %}

{% block title %}
Calculate
{% endblock %}

{% block content %}

    <h4><a href="{% url 'calculate:add_course' %}">Add course</a></h4>
    <br/>
    {% if course_list %}
        <div class="container">
            {% for course in course_list %}
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-8">
                    {{ course.course_text }}
                </div>
                <div class="col">
                    <!-- course.id -->
                    <a class="btn btn-primary" href="{% url 'calculate:course_details' course.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col">
                    <a class="btn btn-danger" href="{% url 'calculate:delete_course' course.id %}" method="POST">
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No courses are available.</p>
    {% endif %}
    <br/>
    <h3>To do</h3>
    <ul>
        <li><strike>Add two values to each section (mark/out of)</strike> (created a Mark model instead)</li>
        <li><strike>Add course model, course can have multiple sections</strike></li>
        <li><strike>Delete section function</strike></li>
        <li><strike>Add section to a section, referenced by foreign key</strike></li>
        <li><strike>Add section to a course, referenced by foreign key</strike></li>
        <li><strike>Create assignment page</strike></li>
        <li><strike>Add assignment to a section, referenced by foreign key</strike></li>
        <li>Edit section, course and assignment functions</li>
        <li>Do logic for percentage and assignment calculations</li>
        The rest has been moved to trello
    </ul>

{% endblock %}